/* Global Setting */
body{margin:0; padding:0;text-align:left; font-size:12px; font-family:Arial; background:url(../images/bg2.jpg) center top repeat #FFF;}
table{border-collapse:collapse;}
td,th{padding:0;}
ul,li,dd,dl,dt{margin:0; padding:0; list-style:none; word-break:break-all;}
img{border:0;}
p{margin:0; word-break:break-all;}
h1,h2,h3,h4{margin:0;padding:0; font-weight:normal; font-size:14px;}
em{ font-size:12px; font-style:normal;}
hr{background:none;border:none;border-bottom:1px solid #CCC;#border-bottom:0;}
.clear {clear:both;height:0;font-size:1px;line-height: 0px;}
a{text-decoration:none; border:0; outline:none; blr:expression(this.onFocus=this.blur());}
select,input,textarea{font-family:inherit; outline:none;}

.wrapper{ width:1000px; margin:0 auto; border:none; padding:0;}
.innerDiv{ width:100%; height:100%; position:relative;}
.abs{ position:absolute;}

.pageOuter{ width:640px; margin:0 auto; overflow:hidden;}

.page{ position:absolute; left:50%; top:0; margin-left:-320px; width:640px; overflow:hidden;}
.h1008{ width:640px; height:1008px;}
.imgDiv{ left:0; top:0;}

.pageLoadingImg1{ width:640px; height:1039px; background:url(../images/loadingImg1.png) 0 0 no-repeat; left:-567px; top:96px;}
.pageLoadingImg1Act{
left:567px; top:-31px;
}
.pageLoadingImg2{ width:640px; height:1039px; background:url(../images/loadingImg2.png) 0 0 no-repeat;}
.logo{ width:640px; height:1039px; background:url(../images/logo.png) 0 0 no-repeat;}
.loadingTxt{ color:#ffa100; font-size:24px; line-height:24px; position:absolute; left:260px; top:590px; width:300px;}

.lazyShow1{
-webkit-animation:lazyShow1 0.5s 0.5s linear both;}
@-webkit-keyframes lazyShow1{
0%{ -webkit-transform:translate(0,-15px); opacity:0; -webkit-opacity:0;}
100%{ -webkit-transform:translate(0,0); opacity:1; -webkit-opacity:1;}
}
.lazyShow2{
-webkit-animation:lazyShow1 0.5s 1s linear both;}
.lazyShow3{
-webkit-animation:lazyShow1 0.5s 1.5s linear both;}
.lazyShow4{
-webkit-animation:lazyShow1 0.5s 2s linear both;}
.lazyShow5{
-webkit-animation:lazyShow1 0.5s 2.5s linear both;}
.lazyShow6{
-webkit-animation:lazyShow1 0.5s 3s linear both;}
.lazyShow7{
-webkit-animation:lazyShow1 0.5s 3.5s linear both;}

.ruleBtn{ left:0; top:410px;}
.ruleBg{ width:100%; height:100%; position:fixed; left:0; top:0; opacity:0; -webkit-opacity:0;}
.ruleBlockBg{ width:566px; height:530px; position:absolute; left:36px; top:142px; background:#000; opacity:0.8; -webkit-opacity:0.8;}
.ruleBlock{ width:566px; height:530px; position:absolute; left:36px; top:142px; overflow-x:hidden; overflow-y:auto;}

.page1Img1{ width:640px; height:1039px; background:url(../images/page1Img1.png) 0 0 no-repeat;}
.page1Img2{ width:640px; height:1039px; background:url(../images/page1Img2.png) 0 0 no-repeat;}
.page1Img3{ width:640px; height:1039px; background:url(../images/page1Img3.png) 0 0 no-repeat;}
.page1Img4{ width:640px; height:1039px; background:url(../images/page1Img4.png) 0 0 no-repeat;}
.page1Img5{ width:640px; height:1039px; background:url(../images/page1Img5.png) 0 0 no-repeat;}
.page1Img6{ width:640px; height:1039px; background:url(../images/page1Img6.png) 0 0 no-repeat;}
.page1Img7{ width:640px; height:1039px; background:url(../images/page1Img7.png) 0 0 no-repeat;}
.page1Img8{ width:640px; height:1039px; background:url(../images/page1Img8.png) 0 0 no-repeat;}
.downArrow{ left:50%; top:935px; margin-left:-25px;
-webkit-animation:downArrow 1s 0s linear both infinite;}
@-webkit-keyframes downArrow{
0%{ -webkit-transform:translate(0,0); opacity:1; -webkit-opacity:1;}
30%{ -webkit-transform:translate(0,0); opacity:1; -webkit-opacity:1;}
100%{ -webkit-transform:translate(0,30px); opacity:1; -webkit-opacity:1;}
}
.downArrow2{ left:50%; top:935px; margin-left:-25px;
-webkit-animation:downArrow2 1s 0s linear both infinite;}
@-webkit-keyframes downArrow2{
0%{ -webkit-transform:translate(0,30px); opacity:1; -webkit-opacity:1;}
30%{ -webkit-transform:translate(0,30px); opacity:1; -webkit-opacity:1;}
100%{ -webkit-transform:translate(0,0); opacity:1; -webkit-opacity:1;}
}

.star1{
left:100px; top:300px;
-webkit-animation:star1 4s 0s linear both infinite;}
@-webkit-keyframes star1{
0%{ -webkit-transform:rotate(0deg); opacity:0; -webkit-opacity:0;}
10%{ -webkit-transform:rotate(36deg); opacity:0.8; -webkit-opacity:0.8;}
40%{ -webkit-transform:rotate(144deg); opacity:0.8; -webkit-opacity:0.8;}
50%{ -webkit-transform:rotate(180deg); opacity:0; -webkit-opacity:0;}
100%{  -webkit-transform:rotate(0deg);opacity:0; -webkit-opacity:0;}
}
.star2{
left:300px; top:800px;
-webkit-animation:star1 4s 2s linear both infinite;}

.page2Img1{ width:640px; height:1039px; background:url(../images/page2Img1.png) 0 0 no-repeat;}
.page2Img2{ width:640px; height:1039px; background:url(../images/page2Img2.png) 0 0 no-repeat;}
.page2Btn1{ left:0; top:24px;}
.page2Btn2{ left:0; top:511px;}

/*page3*/
.sebBlock{ width:500px; height:780px; position:absolute; left:70px; top:50px;}
.sebBlock img.selImg{ width:500px; height:780px;}

.leftArrow{ left:7px; top:466px;}
.rightArrow{ right:7px; top:466px;}
.swiper-container{ width:100%; height:100%; margin:0 auto; position:relative; overflow:hidden; z-index:1;}
.swiper-wrapper{ width:10000px; height:780px;}
.swiper-slide { width:500px; height:780px; overflow:hidden; float:left;}

.page3Btn1{ left:150px; top:860px;}
.page3Btn2{ left:365px; top:860px;}

/*page4*/
.sebBlock2{ width:640px; height:1039px; position:absolute; left:0; top:-104px;}
.sebBlock2 img.selImg{ width:424px; height:661px;}

.leftArrow2{ left:7px; top:466px; z-index:20;}
.rightArrow2{ right:7px; top:466px; z-index:20;}
.swiper-container2{ width:100%; height:100%; margin:0 auto; position:relative; overflow:hidden; z-index:1;}
.swiper-container2 .swiper-wrapper{ width:10000px; height:661px;}
.swiper-container2 .swiper-slide{ width:424px; height:661px; overflow:hidden; float:left;}
.hander{ left:0; top:664px; z-index:10;}
.page4Btn1{ left:250px; top:890px;}
.page4Img1{ width:640px; height:1039px; background:url(../images/page4Img1.png) 0 0 no-repeat;}
.page4Img2{ width:640px; height:1039px; background:url(../images/page4Img2.png) 0 0 no-repeat;}

.sel2Img{ position:absolute; left:0; top:140px;}
.goLeftHide{
-webkit-animation:goLeftHide 1s 0s linear both;	
-webkit-transform-origin:-190px 935px;
}
@-webkit-keyframes goLeftHide{
0%{-webkit-transform:rotate(0deg); opacity:1; -webkit-opacity:1;}
100%{-webkit-transform:rotate(-45deg); opacity:0; -webkit-opacity:0;}
}
.goLeftShow{
-webkit-animation:goLeftShow 1s 0s linear both;	
-webkit-transform-origin:-190px 935px;
}
@-webkit-keyframes goLeftShow{
0%{-webkit-transform:rotate(45deg); opacity:0; -webkit-opacity:0;}
100%{-webkit-transform:rotate(0deg); opacity:1; -webkit-opacity:1;}
}

.goRightHide{
-webkit-animation:goRightHide 1s 0s linear both;	
-webkit-transform-origin:-190px 935px;
}
@-webkit-keyframes goRightHide{
0%{-webkit-transform:rotate(0deg); opacity:1; -webkit-opacity:1;}
100%{-webkit-transform:rotate(45deg); opacity:0; -webkit-opacity:0;}
}
.goRightShow{
-webkit-animation:goRightShow 1s 0s linear both;	
-webkit-transform-origin:-190px 935px;
}
@-webkit-keyframes goRightShow{
0%{-webkit-transform:rotate(-45deg); opacity:0; -webkit-opacity:0;}
100%{-webkit-transform:rotate(0deg); opacity:1; -webkit-opacity:1;}
}

/*page5*/
.page5Img1{ width:640px; height:1039px; background:url(../images/page5Img1.png) 0 0 no-repeat;}
.page5Img2{ width:640px; height:1039px; background:url(../images/page5Img2.png) 0 0 no-repeat;}
.fileBtn{ display:block; position:absolute; width:148px; height:146px; left:150px; top:860px; opacity:0; -webkit-opacity:0;}
.preImg{ width:352px; height:554px; position:absolute; left:144px; top:265px; overflow:hidden; background:#000;}
.upLoadImg{ width:352px; position:absolute; left:0; top:0;}
.coverImg{ width:352px; height:554px; position:absolute; left:0; top:0;}

/*page6*/
.page6Img1{ width:640px; height:1039px; background:url(../images/page6Img1.png) 0 0 no-repeat;}
.page6Img2{ width:640px; height:1039px; background:url(../images/page6Img2.png) 0 0 no-repeat;}
.page6Img3{ width:640px; height:1039px; background:url(../images/page6Img3.png) 0 0 no-repeat;}
.selFile{ width:640px; position:absolute; left:0; top:0;}
.selCover{ width:640px; position:absolute; left:0; top:0;}
.wishTxt{ width:404px; height:99px; line-height:60px; padding:0 10px; background:none; border:none; position:absolute; left:107px; top:341px; color:#5d5d5d; font-size:30px;}
.page6Btn1{ left:244px; top:442px;}

/*finish*/
.resImg{ width:500px; height:780px; position:absolute; left:70px; top:50px;}
.page7Img1{ width:640px; height:1039px; background:url(../images/page7Img1.png) 0 0 no-repeat;}
.page7Img2{ width:640px; height:1039px; background:url(../images/page7Img2.png) 0 0 no-repeat;}
.resImg2{ width:352px; height:554px; position:absolute; left:144px; top:265px; background:#000000;}
.finishWish{ position:absolute; left:240px; top:600px; line-height:1px; color:#000; text-align:center; width:165px;}
.finishWishTd{ line-height:22px; font-size:16px; color:#000; text-align:left;}

/*share*/
.shareBg{ position:fixed; width:100%; height:100%; left:0; top:0; background:#000000; opacity:0.8; -webkit-opacity:0.8;}
.shareNote{ position:fixed; top:0; right:0;}

/*my*/
.myPage{ width:640px; margin:0 auto;}
.myTop{ width:640px; height:1039px; overflow:hidden; background:url(../images/endImg1.png) 0 0 no-repeat;}
.myBottom{ width:640px; height:1058px; background:url(../images/endImg2.png) 0 0 no-repeat;}
.face{ border-radius:50%; width:140px; height:140px; left:251px; top:84px; border: 2px solid #ffa100; -moz-border-radius:50%; -webkit-border-radius:50%;}
.myName{ width:640px; height:30px; line-height:30px; color:#FFF; font-size:24px; position:absolute; left:0; top:230px; text-align:center; padding:0;}
.myNote{ width:640px; line-height:50px; color:#FFF; font-size:24px; position:absolute; left:0; top:332px; text-align:center; padding:0;}
.myNote span{ font-size:30px;}
.myNumb{ width:400px; line-height:40px; color:#FFF; font-size:24px; position:absolute; left:230px; top:500px; text-align:left; padding:0;}
.eList{ position:absolute; left:69px; top:811px;}
.eList .eInit{ width:460px; height:73px; position:relative;}
.eFace{ position:absolute; left:0; top:11px; width:50px; height:50px;}
.eName{ position:absolute; left:77px; top:6px; font-size:18px; color:#FFF; line-height:100%;}
.eTime{ position:absolute; right:10px; top:16px; font-size:18px; color:#b4b4b4; text-align:right; line-height:100%;}
.eTxt{ position:absolute; left:77px; top:38px; font-size:18px; color:#b4b4b4; line-height:100%;}

.shareOuter{ width:640px; margin:0 auto;}
.shareShowImg{ display:block; width:640px;}
.shareBtn1{ left:270px; top:860px;}
.shareWish{ position:absolute; left:190px; top:675px; font-size:28px; line-height:1px; color:#000; text-align:center; width:300px;}
.wishTd{ line-height:40px; font-size:28px; color:#000; text-align:left;}

.titleHide{
-webkit-animation:titleHide 0.5s 0s linear both;	
}
@-webkit-keyframes titleHide{
0%{-webkit-transform:translate(0,0); opacity:1; -webkit-opacity:1;}
100%{-webkit-transform:translate(0,-200px); opacity:1; -webkit-opacity:1;}
}

.titleShow{
-webkit-animation:titleShow 0.5s 0s linear both;
}
@-webkit-keyframes titleShow{
0%{-webkit-transform:translate(0,-200px); opacity:1; -webkit-opacity:1;}
85%{-webkit-transform:translate(0,10px); opacity:1; -webkit-opacity:1;}
100%{-webkit-transform:translate(0,0); opacity:1; -webkit-opacity:1;}
}