{% extends 'AppBundle:default:layout.html.twig' %}
{% block content %}
    <form method="post" enctype="multipart/form-data" action="{{ url('api_form') }}">
        <table>
            <tr><td>用户名</td><td><input name="username"></input></td></tr>
            <tr><td>手机号</td><td><input name="mobile"></input></td></tr>
            <tr><td>头像</td><td><input name="headImg" type="file"></input></td></tr>
            <tr><td></td><td><input type="submit"></input></td></tr>
        </table>
        
    </form>
{% endblock %}
{% block javascripts %}
{% endblock %}